.App {
  font-family: sans-serif;
  text-align: center;
}
/* Ball component*/
.ball {
  width: 3em;
  height: 3em;
  background: chocolate;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
button {
  padding: 12px 28px;
  background: #13131a;
  color: #fff;
  border: 0;
  border-radius: 100px;
}
.lottery {
  margin: 20px 10px;
  border: 3px solid #13131a;
  padding: 10px;
}
.lottery .balls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px auto;
}
